.Homepage{

}

.homeHeader{
    color: rgb(0, 0, 0);
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.homeComment{
    color: rgb(10, 10, 10);
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}
