.ListingHeader{
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 32px;
    padding-top: 5px;
}

.all-websites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
.website-container {
    width: 300px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f7f7f7;
}

.website-name {
    font-size: 24px;
    color: #333;
}

.website-description {
    font-size: 18px;
    color: #555;
}

.website-url {
    font-size: 16px;
    color: #777;
}

.website-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px; 
    height: 75px; 
}

.website-image-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.website-image,
.website-image-2{
    margin: 0 auto;
}

.website-image-2 img {
    display: block;
    margin: auto;
}

.smaller-container {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px transparent transparent;
    border-radius: 5px;
    width: 30%;
    height: 50%;
    margin: 0 auto;
  }

.singleWebsite-container {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

.Website_List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button-container {
    display: flex;
    gap: 10px;
}
  
.handle-button {
    padding: 8px 12px;
    margin: 5px;
    background-color: #4caf50;
    color: #f7f7f7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.handle-button:hover {
    background-color: #45a049;
}

.edit-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-container div {
    margin-right: 10px;
    margin-bottom: 15px;
}
  
.edit-container input {
    width: 90%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
}
  
.save-button {
    padding: 8px 12px;
    margin: 5px;
    background-color: #008CBA;
    color: #f7f7f7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.save-button:hover {
    background-color: #0077A2;
}